#!/bin/bash

# vim -> nvim
alias vim=nvim

# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ~="cd ~"

# listing
alias ll="ls -l"
alias la="ls -A"
alias lla="ls -la"
alias l="ls -CF"

# quick access
alias dt="cd ~/Desktop"
alias dl="cd ~/Downloads"

# sys ops
alias c="clear"
alias h="history"
alias df="df -h"

# programming
PRIMARY_EDITOR="cursor"
SECONDARY_EDITOR="code"

# primary editor commands
alias x="$PRIMARY_EDITOR ."
alias x.="$PRIMARY_EDITOR ."
alias x..="$PRIMARY_EDITOR .."
alias xdot="$PRIMARY_EDITOR ~/.dotfiles"

# secondary editor commands
alias xx="$SECONDARY_EDITOR ."
alias xx.="$SECONDARY_EDITOR ."
alias xx..="$SECONDARY_EDITOR .."
alias xxdot="$SECONDARY_EDITOR ~/.dotfiles"

# macOS stuff
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"
alias update="sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; omz update"

# -> http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# browser stuff
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

